
.icon-cancel-1:before { content: '\e800'; } /* '' */
.icon-eq:before { content: '\e801'; } /* '' */
.icon-eject-alt:before { content: '\e802'; } /* '' */
.icon-divide:before { content: '\e803'; } /* '' */
.icon-plus-1:before { content: '\e804'; } /* '' */
.icon-minus-1:before { content: '\e805'; } /* '' */
