@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#container {
    height: 100%;
    width: 100%;
}
#result {
    height: 200px;
    width: 100%;
    background-color: #546778;
    overflow: hidden;
}
.invisible {
    height: 10px;
}
#equation {
    font-size: 42pt;
    text-align: right;
    margin-right: 30px;
    padding: 7px;
}
#result-number {
    font-size: 30pt;
    opacity: 50%;
    text-align: right;
    padding: 7px;
    margin-right: 30px;
    margin-top: 15px;
}
#content {
    width: 100%;
    height: 100%;
    text-align: center;
}
.number {
    float: left;
    font-size: 30pt;
    padding: 13px;
    margin: 5px;
    width: 12.7%;
    text-align: center;
    background-color: #474a4f;
    border: 3px solid #2a2d30;
}
.number:active {
    background-color: #9da1a8;
}
.number:hover {
    background-color: #7d8085;
}
.sign {
    font-size: 30pt;
    padding: 13px;
    margin: 5px;
    float:left;
    width: 12.7%;
    background-color: #474a4f;
    border: 3px solid #2a2d30;
    text-align: center;
}
.sign:active {
    background-color: #9da1a8;
}
.sign:hover {
    background-color: #7d8085;
}
.specialsign {
    font-size: 30pt;
    padding: 13px;
    margin: 5px;
    float:left;
    width: 12.7%;
    background-color: #474a4f;
    border: 3px solid #2a2d30;
    text-align: center;
}
.specialsign:active {
    background-color: #9da1a8;
}
.specialsign:hover {
    background-color: #7d8085;
}