@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --number-bg: #292928;
    --number-click-bg: #343034;

    --sign-bg: #e4900a;
    --sign-click-bg: #E49036;

    --specialsign-bg: #959595;
    --specialsign-click: #aeaeaf;

    --font-white: #fff;
    --font-black: #000;
    --body-bg: #000;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif; 
    background: var(--body-bg);
    color: var(--font-white);
}
#container {
    max-width: 350px;
    max-height: 650px;
    margin-left: auto;
    margin-right: auto;
}
#result {
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.invisible {
    height: 10px;
}
#content {
    margin: 0;
    width: auto;
}
#equation {
    font-size: 42pt;
    text-align: end;
    margin-right: 20px;
    padding: 7px;
    height: 90px;
}
#result-number {
    font-size: 30pt;
    opacity: 50%;
    text-align:end;
    padding: 7px;
    margin-right: 20px;
    margin-top: 15px;
    height: 70px;
}
.main-css {
    all: unset;
    font-size: 30pt;
    padding: 13px;
    margin: 5px;
    width: 3rem;
    float: left;
    text-align: center;
    border-radius: 4rem;
}
.number {
    background: var(--number-bg);
}
.number[data-number="0"] {
    width: 8.2rem; text-align: center; border-radius: 4.1rem;
}
.number:active {
    background: var(--number-click-bg);
}
.sign {
    background: var(--sign-bg);
}
.sign:active {
    background: var(--sign-click-bg);
}
.specialsign {
    background: var(--specialsign-bg);
    color: var(--font-black);
}
.specialsign[data-specialsign=","] {
    background: var(--number-bg);
    color: var(--font-white);
}
.specialsign:active {
    background: var(--specialsign-click);
}