@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#container {
    height: 100%;
    width: 100%;
}
#result {
    height: 600px;
    width: 100%;
    background-color: #546778;
}
.invisible {
    height: 60px;
}
#equation {
    font-size: 130pt;
    text-align: right;
    margin-right: 50px;
    padding: 10px;
}
#result-number {
    font-size: 105pt;
    opacity: 70%;
    text-align: right;
    padding: 20px;
    margin-right: 50px;
    margin-top: 60px;
}
#content {
    width: 100%;
    height: 100%;
    align-items: center;
}
.number {
    float: left;
    font-size: 80pt;
    padding: 50px;
    margin: 30px;
    width: 60px;
    text-align: center;
    background-color: #474a4f;
    border: 10px solid #2a2d30;
}
.number:active {
    background-color: #9da1a8;
}
.number:hover {
    background-color: #7d8085;
}
.sign {
    font-size: 80pt;
    float: left;
    padding: 50px;
    margin: 30px;
    width: 60px;
    background-color: #474a4f;
    border: 10px solid #2a2d30;
}
.sign:active {
    background-color: #9da1a8;
}
.sign:hover {
    background-color: #7d8085;
}
.specialsign {
    font-size: 80pt;
    padding: 50px;
    margin: 30px;
    float:left;
    width: 60px;
    background-color: #474a4f;
    border: 10px solid #2a2d30;
}
.specialsign:active {
    background-color: #9da1a8;
}
.specialsign:hover {
    background-color: #7d8085;
}